{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <h3>How to be the best software developer:</h3>
      <ul style="list-style-type:disc">
	<li>Break down large problems into several smaller ones
	<li>Make a to do list of all the tasks you need to do in order to solve each individual problem
      </ul>
      <ul>
	<ul style="list-style-type:circle">
	  <li>This will allow you to leave the problem for a while and then pick up where you left off
	  <li>Someone else can then also pick up your work if necessary and know where you are and what needs to be done
	</ul>
      </ul>
      <ul style="list-style-type:disc">
	<li>Be lazy
      </ul>
      <ul>
	<ul style="list-style-type:circle">
	  <li>Do the minimum amount of work possible to create an excellent piece of work
	  <li>Don’t write code that has already be written
	  <li>Don’t make your code more complicated than it needs to be
	  <li>Don’t write the same code more than once in a program (use functions)
	  <li>However, don’t cut corners or leave your work for other people to do
	</ul>
      </ul>
    </div>
  </div>
</div>
<form action="#" id"commentSection">
    <p>
        <label for="name">Name</label>
        <input id="name" type="text" />
    </p>
    <p>
        <label for="comment">Comment</label>
        <input id="comment" type="text" />
    </p>
    <p class="submit">
        <input type="submit" value="Submit" />
    </p>
</form>
{% endblock %}