{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Firday 4th March</h3>
        <p>The main thing I want to learn at Villiers Park is a new programming language. I have currently only programmed in python, HTML and CSS and would like to broaden my programming skills. I have already decided that across the 5 days I will be learning about PHP. I had never heard of PHP before today and all I know now is that it is the language that Facebook is written in.</p>
        <p>A second thing I want to find out is whether I enjoy software development and hence whether I would like to study it at university over or as well as cyber security.</p>
    </div>
  </div>
</div>
<form action="#" id"commentSection">
    <p>
        <label for="name">Name</label>
        <input id="name" type="text" />
    </p>
    <p>
        <label for="comment">Comment</label>
        <input id="comment" type="text" />
    </p>
    <p class="submit">
        <input type="submit" value="Submit" />
    </p>
</form>
{% endblock %}
