{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Blog</h1>
        <p>Not a skeleton code  blog</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Posts:</h3>
            <ul>
                <li><a  href="/posts/firstpost/">First Post</a></li>
                <li><a href="posts/beinglazy/">Being Lazy</a></li>
                <li><a href="posts/computingmuseum/">Computing Museum</a></li>
            </ul>
    </div>
  </div>
</div>
{% endblock %}
