{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Computing Stuff</h1>
        <p>A few random bits relating to computing</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Posts:</h3>
            <ul>
                <li><a  href="/posts/firstpost/">First Post</a></li>
                <li><a href="/posts/beinglazy/">Being Lazy</a></li>
                <li><a href="/posts/computingmuseum/">Computing Museum</a></li>
                <li><a href="/posts/turringmachines">Turring Machines</a></li>
            </ul>
    </div>
  </div>
  <img src="caticorn.gif" alt="caticorn" class="displayed" border="0" width=300px>
</div>
{% endblock %}
